.admin-container {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    
}

.admin-feature h3 {
    margin-right: 10px;
    width: fit-content;
    margin-left: auto;
    color: white;
}

.admin-feature {
    background: rgb(19, 1, 36);
    display: flex;
    flex-direction: column;
    width: 200px;
    
}

.feature-button {
    height: 50px;
    border: none;
    text-align: center;
    color: rgb(225, 225, 160);
    font-weight: lighter;
    width: 100%;
    background: transparent;
}

.button-cont {
    background: rgb(48, 5, 89);
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.admin-board {
    margin: auto;
    margin-top: 3em;
    width: inherit;
   
}


.bot-data-input {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.3);
    border-radius: 5px;
    padding: 1em;
}

.bot-data-input textarea {
    height: 200px;
    width: 200px;
    padding: 1em;
    resize: none;
    margin: auto;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
}

.bot-data-input button {
    width: 200px;
    margin: auto;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 0.5em;
    background: rgb(70, 14, 75);
    font-weight: bolder;
}

.update-bot, .view-student-main-cont, .view-log-main-cont {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 4em;
    width: 70%;
    border-radius: 10px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    height: 100%;

    
    
}

.update-bot h3 {
    text-align: center;
    color: rgb(19, 1, 36);
}

.upload-content {
    padding: 3em;
    display: flex;
    grid-gap: 3em;
    
}


.upload-content button {
    margin-left: 0;
    width: fit-content;
    padding: 0.5em;
    margin-top: 1em;
    border: none;
    background: white;
    color: rgb(19, 1, 36);
    border-radius: 3px;
}

.to-upload {
    display: flex;
    flex-direction: column;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    border-radius: 5px;
    padding: 3em;
}

.to-upload span {
    color: white;
}

.upload-content input {
    display: none;
}

.upload-content label {
    background: rgba(0, 0, 0, .3);
    color: white;
    padding: 1em;
    border-radius: 5px;
}

#to-upload-material {
    background: rgb(48, 5, 89);
}

#to-upload-timetable {
    background: rgb(19, 1, 36);
}

.student-account {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.4);
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    justify-content: space-evenly;
    padding: 2em;
    border-radius: 5px;
}

.student-account input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 10px;

}

.student-account button {
    background-color: rgba(122, 122, 122, 0.3);
    border: none;
    border-radius: 5px;
    padding: 0.5em;
    color: white;
    font-weight: bolder;
    background: rgb(70, 14, 75);
}


.student-container {
    display: flex;
    justify-content: space-evenly;
    width: inherit;
   

}
.student-stats {
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    border-radius: 5px;
    height: fit-content;
    width: 100px;
    background: rgb(70, 14, 75);
    text-align: center;
    color: white;
}

.modal {
    display: flex;
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, .4);
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
}


.registering, .training, .uploading {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.registering p, .training p, .uploading p {
    margin: 0;
    color: white;
    font-weight: bolder;
}

.reg-res, .train-res {
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    font-weight: bold;
}


.bot-data-input input {
    border-radius: 5px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .5);
    padding: 10px;
    margin-top: 20px;

}

.retrain-bot {
    border: none;
    background-color: rgb(70, 14, 75);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    padding: 10px;
    color: white;
    border-radius: 5px;
}

.fetch-log-cont {

    margin-bottom: auto;
    height: 30px;
    
}

.fetch-log-cont .search-student-log {
    height: inherit;
    border:1px solid rgba(0, 0, 0, 0.3);
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    
}

.fetch-log-cont .get-log {
    height: 33px;
    border: none;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.8);
    background-color: rgb(70, 14, 75);
    color: white;
    
}

.view-log-main-cont {
    
    height: 400px;
    
    
}

.chat-log {
    overflow: auto;
    margin: auto;
}


.fetching-log {
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, .3);
}

.search-student-cont input{
    border: 1px solid #333;
    padding: 10px;
    border-radius: 10px;
    width: 200px;
}

.search-student-cont {
    display: flex;
}

.search-student-cont p {
    background: rgb(70, 14, 75);
    color: white;
    padding: 10px;
    border: none;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}


.searched-students {
    height: 300px;
    width: 400px;
    overflow: scroll;
    margin-top: 20px;
   
}

.searched-students::-webkit-scrollbar {
    width: 0px;
}

.each-student {
    display: flex;
    border-radius: 12px;
    box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
    width: 300px;
    padding: 1em;
    margin: auto;
    margin-bottom: 10px;
    align-items: center;
}



.delete-student {
    font-size: 11px;
    color: rgb(70, 14, 75);
    font-weight: bold;
    margin-left: auto;
    cursor: pointer;
    
}

.centralize {
    text-align: center;
}


@media only screen and (max-width:600px){

    .admin-container {
        flex-direction: column;
    }
    .admin-feature {
        flex-direction: row;
        width: 100%;
    }

    .button-cont {
        flex-direction: row;
        background: transparent;
    }

    .feature-button {
        font-size: 10px;
        
    }

    .feature-button:hover {
        background: rgb(48, 5, 89);
    }

    .student-container {
        flex-direction: column;
        width: 100%; 
    }

    .student-account {
        width: 80%;
        margin: auto;
    }

    .student-stats {
        margin-left: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
    }

    .update-bot {
        flex-direction: column;
        width: auto;
        box-shadow: none;
       
    }

    .retrain-bot {
        margin-bottom: 1em;
        width: auto;
    }

    .bot-data-input {
        margin: auto;
        width: auto;
        
    }

    .upload-content {
        flex-direction: column;
    }

    .to-upload span {
        font-size: 10px;
    }

    .admin-board {
        margin-top: 0;
    }

    .view-log-main-cont {
        flex-direction: column;
    }

    .fetch-log-cont {
       
        margin-bottom: 0;
        margin-top: 20px;
        justify-content: center;
    }

    .view-log-main-cont {
        padding: 0;
        position: fixed;
        margin: 0;
        width: auto;
        height: 100%;
        justify-content: center;
        align-items: center;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }

    

    .view-student-main-cont {
        height: 100vh;
        width: auto;
        padding: 5px;
       
    }

    .view-student-main-cont .view-student-sub {
        background: white;
        height: inherit;
        width: auto;
        margin-top: 1em;
        margin-right: auto;

    }

    .search-student-cont input{

        border-radius: 5px;
        height: 10px;
    }

    .search-student-cont {
        align-items: center;
    }
    
    .search-student-cont p {
        background: rgb(70, 14, 75);
        color: white;
        padding: 5px;
        border: none;
       border-radius: 5px;
    }

    .searched-students {
        width: 100vw;
        height: 100%;
    }

    .each-student {
        display: flex;
        border-radius: 12px;
        box-shadow: 6px 6px 20px rgba(122, 122, 122, 0.5);
        width: auto;
        padding: 1em;
        margin-top: auto;
        margin-right: auto;
    }

   

}